<ion-header [translucent]="true" no-border>
  <ion-toolbar color="dark">
    <ion-title>
      Noticias SENA-CPIC
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="dark">
  <!-- estas noticias son las que lee desde el tab1.page.ts-->
   <app-noticias [noticias] ="noticias"></app-noticias>
    <ion-infinite-scroll threshold="150px" 
                          (ionInfinite)="loadData( $event )">
      <ion-infinite-scroll-content loadingSpinner="bubbles" 
                                   loadingText="Cargando data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
